process {

    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '6.h'
    ]

    // Impute quilt
    withName: QUILT_QUILT {
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.chunk}.impute" }
        publishDir = [enabled: false]
    }

    // Annotate quilt imputed VCFs
    withName: BCFTOOLS_ANNOTATE {
        ext.args     = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.chunk}.impute.annotate" }
        publishDir = [ enabled: false ]
    }
}
