// Configuration pour les tests du subworkflow IMPUTE5
params {
    // Paramètres pour les différents modules
    chunk_args = "--window-size 200000 --buffer-size 10000"
    convertref_args = ''
    convertref_maf = 0.03125
    convertref_threads = 2
    impute_args = ''
    impute_buffer_size = 250000

    // Chemin vers les données de test locales
    modules_testdata_base_path = "${projectDir}/subworkflows/local/vcf_impute_impute5/tests/"
}

process {

    withName: 'IMPUTE5_*'{
                env.PATH = "${projectDir}/bin:${env.PATH}"

    }
    // Configuration pour IMPUTE5_CHUNK
    withName: 'IMPUTE5_CHUNK' {
        ext.args = { params.chunk_args }
    }

    // Configuration pour IMPUTE5_CONVERTREF
    withName: 'IMPUTE5_CONVERTREF' {
        ext.args = { params.convertref_args }
        ext.prefix = { meta.id }
        ext.maf = { params.convertref_maf }
        ext.threads = { params.convertref_threads }
    }

    // Configuration pour IMPUTE5_IMPUTE
    withName: 'IMPUTE5_IMPUTE' {
        ext.args = { params.impute_args }
        ext.prefix = { meta.id }
        ext.buffer_size = { params.impute_buffer_size }
    }
}
