/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '3.GB',
        time: '2.h'
    ]

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:GLIMPSE_PHASE' {
        cpus         = 1
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse1" }
        ext.args     = { "--impute-reference-only-variants --seed ${params.seed}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }
}

// Or any resources requirements
params {
    publish_dir_mode = "copy"
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/phaseimpute/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
