/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '3.GB',
        time: '2.h'
    ]
}

// Or any resources requirements
params {
    publish_dir_mode = "copy"
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/phaseimpute/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
