/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '3.GB',
        time: '2.h'
    ]

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:SHAPEIT5_PHASECOMMON' {
        cpus       = 1
        ext.args   = { "${params.options_shapeit5}" }
        ext.suffix = "bcf"
        ext.prefix = { "${meta.panel_id}_${meta.regionout.replace(':',"_")}_chunks" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:STITCH' {
        cpus       = 1
        ext.args = { "${params.options_stitch}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.stitch" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:QUILT_QUILT' {
        cpus       = 1
        ext.args   = { "${params.options_quilt}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.quilt" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:QUILT_QUILT2' {
        cpus       = 1
        ext.args   = { "${params.options_quilt2}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.quilt2" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:GLIMPSE2_PHASE' {
        cpus         = 1
        cache        = "lenient"
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse2" }
        ext.args     = { "${params.options_glimpse2}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:GLIMPSE_PHASE' {
        cpus         = 1
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse1" }
        ext.args     = { "${params.options_glimpse1}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BEAGLE5_BEAGLE' {
        ext.args   = { "${params.options_beagle5}" }
        ext.prefix = { "${meta.id}.${meta.chr}.beagle5" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_MINIMAC4:MINIMAC4_IMPUTE' {
        ext.args   = { "${params.options_minimac4}" }
        ext.prefix = { "${meta.id}.${meta.regionoutPadded ? meta.regionoutPadded.replace(':','_') : meta.chr}.minimac4" }
    }


}

// Or any resources requirements
params {
    publish_dir_mode = "copy"
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/phaseimpute/'
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
