process {

    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '6.h'
    ]

    withName: GAWK {
        ext.args2  = "'NR>1 { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3 \",\" \$4 }'"
        ext.suffix = "txt"
    }

    withName: BCFTOOLS_MPILEUP {
        ext.args = [
            "-I",
            "-E",
            "-a 'FORMAT/DP'"
        ].join(' ')
        ext.args2 = [
            "-Aim",
            "-C alleles"
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: BCFTOOLS_MERGE {
        ext.args = [
            "--write-index=tbi",
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: BCFTOOLS_ANNOTATE {
        ext.args   = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.annotate" }
    }

    withName: GLIMPSE_PHASE {
        ext.args   = ["--impute-reference-only-variants"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chunk.replace(':','_')}_phase" }
        ext.suffix = "bcf"
        publishDir = [ enabled: false ]
    }

    withName: BCFTOOLS_INDEX_1 {
        ext.args   = "--csi"
        publishDir = [ enabled: false ]
    }

    withName: GLIMPSE_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}_ligate" }
        publishDir = [ enabled: false ]
    }

    withName: BCFTOOLS_INDEX_2 {
        ext.args   = "--tbi"
        publishDir = [ enabled: false ]
    }
}
