process {

    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '6.h'
    ]

    withName: GLIMPSE_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}_ligate" }
        publishDir = [ enabled: false ]
    }

    withName: BCFTOOLS_INDEX_2 {
        ext.args   = "--tbi"
        publishDir = [ enabled: false ]
    }
}
