params {
    max_memory = '2.GB'
}

process {
    withName: GAWK {
        ext.args2  = "'BEGIN {FS=\"\\t\"} NR==1 { if (\$1 ~ /^chr/) { print \"chr\" } else { print \"nochr\" } }'"
        ext.prefix = { "${meta.id}_chrrename" }
        ext.suffix = 'txt'
    }

    withName: SAMTOOLS_REHEADER {
        ext.prefix = { "${meta.id}_chrrename" }
    }
}
