/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: '.*:MAKE_CHUNKS:GLIMPSE_CHUNK' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_INDEX' {
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_INDEX_2' {
        ext.args      = '--tbi'
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_INDEX_3' {
        ext.args      = '--tbi'
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_VIEW' {
        ext.args      = '-v snps'
        ext.prefix    = { "${meta.id}_biallelic" }
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_NORM' {
        ext.args      = '-m +any --output-type z'
        ext.prefix    = { "${meta.id}_multiallelic" }
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2
    }

    withName: '.*:MAKE_CHUNKS:BCFTOOLS_CONVERT' {
        ext.args = '--haplegendsample test'
        cpus          = 2
        memory        = 400.MB
        maxRetries    = 2

        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/convert" },
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: '.*:IMPUTE_QUILT:QUILT_QUILT' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: '.*:CONCATENATE_VCF:BCFTOOLS_INDEX' {
        ext.args     = {[
                        "--tbi",
                        ].join(" ").trim()}
    }


    withName: '.*:CONCATENATE_VCF:BCFTOOLS_CONCAT' {
        ext.args = {[
            "--ligate",
            "--output-type z",
        ].join(" ").trim()}

        cpus = 2
        memory = 1.GB
        maxRetries    = 2

        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}/concat" },
                mode: params.publish_dir_mode,
            ],
        ]
    }

}
