/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_glimpse2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test batch profile'
    config_profile_description = 'Minimal test dataset to check batch effect with glimpse2 and quilt'

    // Input data
    input        = "${projectDir}/tests/csv/sample_bam.csv"
    input_truth  = "${projectDir}/tests/csv/sample_validate_truth.csv"
    input_region = "${projectDir}/tests/csv/region.csv"

    // Genome references
    fasta  = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel  = "${projectDir}/tests/csv/panel.csv"

    // Pipeline steps
    steps  = "impute,validate"

    // External params
    chunks  = "${projectDir}/tests/csv/chunks.csv"
    posfile = "${projectDir}/tests/csv/posfile.csv"

    // Imputation arguments
    tools      = "glimpse2,quilt"
    batch_size = 2
}
