/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with BEAGLE5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_beagle5,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for BEAGLE5'
    config_profile_description = 'Minimal test dataset to check BEAGLE5 imputation function'

    // Input data
    input        = "${projectDir}/tests/csv/sample_vcf_snp.csv"
    input_region = "${projectDir}/tests/csv/region.csv"
    panel        = "${projectDir}/tests/csv/panel.csv"

    // Map file
    map          = "${projectDir}/tests/csv/map_plink.csv"

    // Genome references
    fasta = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"

    // Pipeline steps
    steps = 'impute'

    // Imputation tools
    tools = 'beagle5'

    // Main options
    outdir = 'results'
}
