/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with IMPUTE5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


// Force Singularity pour tous les processus
singularity.enabled = true
docker.enabled = false

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test IMPUTE5 profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with IMPUTE5'

    // Input data - IMPUTE5 nécessite des VCF
    input        = "${projectDir}/tests/csv/sample_vcf.csv"
    input_region = "${projectDir}/tests/csv/region.csv"

    // Genome references
    fasta   = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel   = "${projectDir}/tests/csv/panel.csv"
    map     = "${projectDir}/tests/csv/map.csv"
    posfile = "${projectDir}/tests/csv/posfile.csv"

    // Pipeline steps
    steps  = "impute"
    tools  = "impute5"

    // IMPUTE5 specific parameters
    chunk_args = "--window-size 5000000 --buffer-size 250000"
    convertref_args = ''
    convertref_maf = 0.03125
    convertref_threads = 2
    impute_args = ''
    impute_buffer_size = 250000
}

process {
    // Désactive les conteneurs pour IMPUTE5 et utilise binaires locaux
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CONVERTREF' {
        container = null
        env.PATH = "${projectDir}/bin:${env.PATH}"
        errorStrategy = 'ignore'  // Ignore si le binaire n'existe pas
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CHUNK' {
        container = null
        env.PATH = "${projectDir}/bin:${env.PATH}"
        errorStrategy = 'ignore'
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_IMPUTE' {
        container = null
        env.PATH = "${projectDir}/bin:${env.PATH}"
        errorStrategy = 'ignore'
    }
}
