/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:QUILT_QUILT2' {
        cpus  = 1
        ext.args = {"--seed=${params.seed} --use_mspbwt=FALSE --impute_rare_common=FALSE" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.quilt2" }
    }
}

params {
    config_profile_name        = 'Minimal QUILT2 Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function using the tool QUILT2'

    input        = "${projectDir}/tests/csv/sample_bam.csv"
    input_region = "${projectDir}/tests/csv/region.csv"

    fasta = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"

    steps = "impute"

    chunks = "${projectDir}/tests/csv/chunks.csv"
    panel  = "${projectDir}/tests/csv/panel.csv"

    tools = "quilt2"
}
