/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_panelprep,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check all steps on full chromosomes'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 24
    max_memory = '50.GB'
    max_time   = '4.h'

    // Genome references
    fasta  = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel  = "${projectDir}/tests/csv/panel_fullchr.csv"
    phased = false
    input  = "${projectDir}/tests/csv/sample_sim_full.csv"
    // Pipeline steps
    steps   = "all"
    tools   = "glimpse1,glimpse2,quilt,stitch"
    depth   = 1
    remove_samples = "NA12878,NA19401,NA20359,NA12891,NA12892,NA20362"
}
