params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with BEAGLE5'

    // Input data (même que glimpse2)
    input  = "${projectDir}/tests/csv/sample_bam.csv"
    fasta  = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel  = "${projectDir}/tests/csv/panel.csv"

    // Pipeline steps
    steps  = "impute"

    // Impute tools
    tools  = "beagle5"
}
