/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 12,
        memory: '50.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Genome references
    //map             = "https://bochet.gcc.biostat.washington.edu/beagle/genetic_maps/plink.GRCh38.map.zip"
    genome          = "GRCh38"

    // Input data
    input       = "${projectDir}/tests/csv/sample_sim_full.csv"
    input_truth = "${projectDir}/tests/csv/sample_sim_full_truth.csv"
    panel       = "${projectDir}/tests/csv/panel_full.csv"

    // Pipeline steps
    steps  = "all"

    // Panelprep optional args
    remove_samples = "NA12878,NA12891,NA12892"
    normalize      = true
    compute_freq   = false
    phase          = false

    // Impute tools
    tools = "glimpse2"

    // Concordance arguments
    min_val_gl = 0
    min_val_dp = 0
}

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GLIMPSE2_CONCORDANCE' {
        ext.args = "--gt-val --af-tag AF"
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}.concordance" }
        publishDir = [ enabled: false ]
    }
}
