/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_all,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test simulation / imputation / validation mode'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input        = "${projectDir}/tests/csv/sample_sim.csv"
    input_region = "${projectDir}/tests/csv/region.csv"
    depth        = 1

    // Genome references
    fasta        = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"

    // Panel preparation
    panel        = "${projectDir}/tests/csv/panel.csv"
    phase        = true
    normalize    = true
    compute_freq = true
    chunk_model  = "recursive"
    remove_samples = "NA12878,NA12891,NA12892"

    // Pipeline steps
    steps = "all"

    // Impute tools
    tools = "glimpse1,glimpse2,stitch,quilt"
}

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE_CHUNK' {
        ext.args = ["--window-size 10000", "--window-count 400", "--buffer-size 5000", "--buffer-count 30"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_chunks_glimpse1" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse1/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE2_CHUNK' {
        ext.args = ["--window-mb 0.01", "--window-cm 0.01", "--window-count 200", "--buffer-mb 0.005", "--buffer-cm 0.005", "--buffer-count 30"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_chunks_glimpse2" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse2/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:GLIMPSE2_CHUNK' {
        ext.args = ["--window-mb 0.01", "--window-cm 0.01", "--window-count 200", "--buffer-mb 0.005", "--buffer-cm 0.005", "--buffer-count 30"].join(' ')
        ext.prefix = { "${meta.id}_chunks" }
    }
}
