/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Genome references
    genome = "GRCh38"
    map    = "${projectDir}/tests/csv/map_glimpse_full.csv"

    // Input data
    input       = "${projectDir}/tests/csv/sample_sim_full.csv"
    input_truth = "${projectDir}/tests/csv/sample_sim_full_truth.csv"
    panel       = "${projectDir}/tests/csv/panel_full.csv"

    // Pipeline parameters
    steps = "all"
    tools = "glimpse1,glimpse2,stitch,quilt,quilt2"

    // Panelprep optional args
    remove_samples = "NA12878,NA12891,NA12892"
    normalize      = true
    compute_freq   = false
    phase          = false

    // Validation optional args
    min_val_gl = 0
    min_val_dp = 0
}

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GLIMPSE2_CONCORDANCE' {
        ext.args = "--gt-val --af-tag AF"
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}.concordance" }
        publishDir = [ enabled: false ]
    }
}
