/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_minimac4,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with MINIMAC4'

    // Input data
    input  = "${projectDir}/tests/csv/sample_vcf_snp.csv"

    // Genome references
    fasta  = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel  = "${projectDir}/tests/csv/panel.csv"

    // Region file
    input_region = "${projectDir}/tests/csv/region.csv"

    // Map file
    map    = "${projectDir}/tests/csv/map_plink.csv"

    // Position file
    posfile = "${projectDir}/tests/csv/posfile.csv"

    // Pipeline steps
    steps  = "impute"

    // Impute tools
    tools  = "minimac4"
}
