/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Genome references
    //map             = "https://bochet.gcc.biostat.washington.edu/beagle/genetic_maps/plink.GRCh38.map.zip"
    genome          = "GRCh38"

    // Resources increase incompatible with Github Action
    max_cpus   = 12
    max_memory = '50.GB'
    max_time   = '6.h'

    // Input data
    input                  = "${projectDir}/tests/csv/sample_sim_full.csv"
    panel                  = "${projectDir}/tests/csv/panel_full.csv"
    step                   = "all"

    // Settings
    tools                 = "glimpse1"
    remove_samples        = "NA12878,NA12891,NA12892"
}
