/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_all_fullchr,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 24,
        memory: '50.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check all steps on full chromosomes'

    // Genome references
    fasta  = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"
    panel  = "${projectDir}/tests/csv/panel_fullchr.csv"
    input  = "${projectDir}/tests/csv/sample_sim_full.csv"

    // Pipeline steps
    steps   = "all"
    tools   = "glimpse1,glimpse2,quilt,stitch,beagle5"
    depth   = 1

    // Panelprep optional args
    remove_samples = "NA12878,NA19401,NA20359,NA12891,NA12892,NA20362"
    normalize      = true
    compute_freq   = false
    phase          = false
}
