/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phaseimpute -profile test_quilt,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Minimal Quilt Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function using the tool QUILT'

    // Input data
    input        = "${projectDir}/tests/csv/sample_bam.csv"
    input_region = "${projectDir}/tests/csv/region.csv"

    // Genome references
    fasta   = params.pipelines_testdata_base_path + "hum_data/reference_genome/GRCh38.s.fa.gz"

    // Pipeline steps
    steps   = "impute"

    // External params
    chunks  = "${projectDir}/tests/csv/chunks.csv"
    posfile = "${projectDir}/tests/csv/posfile_hap_legend.csv"

    // Impute tools
    tools   = "quilt"
}
