process {
    withName: BCFTOOLS_CONVERT {
        ext.args = {"--haplegendsample ${meta.id}_${meta.chr}"}
    }

    withName: BCFTOOLS_VIEW {
        ext.args = [
            "-G",
            "-m 2",
            "-M 2",
            "-v snps",
            "--output-type z",
            "--write-index=tbi",
            "--no-version"
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites" }
    }

    withName: GAWK {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } NR>1  { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3\",\"\$4 }'"
        ext.prefix = { "${meta.id}.${meta.chr}.posfile" }
        ext.suffix = "txt"
    }

    withName: TABIX_BGZIP {
        ext.prefix = { "${meta.id}.${meta.chr}.posfile" }
    }
}
