process {
    withName: BCFTOOLS_CONVERT {
        ext.args = {"--haplegendsample ${meta.id}_${meta.chr}"}
    }

    withName: BCFTOOLS_VIEW {
        ext.args = [
            "-G",
            "-m 2",
            "-M 2",
            "-v snps",
            "--output-type z",
            "--write-index=tbi",
            "--no-version"
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites" }
    }
}
