/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Check input
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_.*:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id}"}
    }

    // Check input truth
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_TRUTH:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id}"}
    }

    // Check panel
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_PANEL:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    // Change prefix based on input file types (INPUT, TRUTH, PANEL)
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_.*:VCF_CHR_RENAME_BCFTOOLS:BCFTOOLS_ANNOTATE' {
        ext.args   = ["-Oz", "--no-version", "--write-index=tbi"].join(' ')
    }
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_INPUT:VCF_CHR_RENAME_BCFTOOLS:BCFTOOLS_ANNOTATE' {
        ext.prefix = { "${meta.id}_chrrename" }
    }
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_TRUTH:VCF_CHR_RENAME_BCFTOOLS:BCFTOOLS_ANNOTATE' {
        ext.prefix = { "${meta.id}_chrrename" }
    }
    withName: 'NFCORE_PHASEIMPUTE:CHRCHECK_PANEL:VCF_CHR_RENAME_BCFTOOLS:BCFTOOLS_ANNOTATE' {
        ext.prefix = { "${meta.panel_id}_${meta.chr}_chrrename" }
    }
}
