/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // IMPUTE5 specific parameters
    chunk_args = "--window-size 5000000 --buffer-size 250000"
    convertref_args = ''
    convertref_maf = 0.03125
    convertref_threads = 2
    impute_args = ''
    impute_buffer_size = 250000
}

process {
    // Configuration for the IMPUTE5 imputation subworkflow

    // IMPUTE5 Subworkflow processes
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.chr}"}
        env.PATH = "${projectDir}/bin:${env.PATH}"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CHUNK' {
        ext.args = { params.chunk_args }
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/chunk/" },
            mode: params.publish_dir_mode,
            pattern: "chunks_*.txt",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_CONVERTREF' {
        ext.args = { params.convertref_args }
        ext.prefix = { meta.id }
        ext.maf = { params.convertref_maf }
        ext.threads = { params.convertref_threads }
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/convertref/" },
            mode: params.publish_dir_mode,
            pattern: "*_xcf.*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_IMPUTE5:IMPUTE5_IMPUTE' {
        ext.args = { params.impute_args }
        ext.prefix = { meta.id }
        ext.buffer_size = { params.impute_buffer_size }
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/impute/" },
            mode: params.publish_dir_mode,
            pattern: "*_imputed.{bcf,log}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Concatenate the imputed chunks
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_IMPUTE5:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/impute5/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_IMPUTE5:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.batch${meta.batch}.impute5" }
    }
}
