/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/quilt2/variant_calling/" },
            enabled: params.publish_all,
            mode: params.publish_dir_mode,
        ]
        tag = {"Batch ${meta.batch} ${meta.regionout ?: meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:QUILT_QUILT2' {
        ext.args = "--seed=${params.seed}"
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionoutPadded ? meta.regionoutPadded.replace(':','_') : meta.chr}.quilt2" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:GLIMPSE2_LIGATE' {
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.chr}.quilt2.ligate" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT2:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT2:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/quilt2/concat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT2:BCFTOOLS_CONCAT' {
        ext.args = "--output-type z --ligate"
        ext.prefix = { "${meta.id}.batch${meta.batch}.quilt2" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT2:HTSLIB_BGZIPTABIX' {
        ext.prefix = { "${meta.id}.batch${meta.batch}.quilt2" }
    }
}
