/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_MINIMAC4:.*' {
        publishDir = [enabled: false]
        tag = { "${meta.id} ${meta.chr}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_MINIMAC4:MINIMAC4_COMPRESSREF' {
        ext.args   = ''
        ext.prefix = { "${meta.id}.${meta.chr}.minimac4" }
        publishDir = [enabled: false]
        tag = { "${meta.id} ${meta.chr}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_MINIMAC4:MINIMAC4_IMPUTE' {
        ext.args   = { "--output-format vcf.gz" }
        ext.prefix = { "${meta.id}.${meta.chr}.minimac4" }
        tag = { "${meta.id} ${meta.chr}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_MINIMAC4:BCFTOOLS_INDEX' {
        ext.args   = ''
        publishDir = [enabled: false]
        tag = { "${meta.id} ${meta.chr}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_MINIMAC4:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/minimac4/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_MINIMAC4:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.minimac4" }
    }
}