/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/quilt/" },
            mode: params.publish_dir_mode,
        ]
    }

    // Impute quilt
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:QUILT_QUILT' {
        ext.prefix = { "${meta.id}_C${meta.chr}.impute" }
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:BCFTOOLS_INDEX_1' {
        ext.args     = "--tbi"
        publishDir = [enabled: false]
    }

    // Annotate quilt imputed VCFs
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:BCFTOOLS_ANNOTATE' {
        ext.args     = "--set-id '%CHROM:%POS:%REF:%ALT' -Oz"
        ext.prefix = { "${meta.id}_C${meta.chr}.impute.annotate" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_QUILT:BCFTOOLS_INDEX_2' {
        ext.args     = "--tbi"
        publishDir = [ enabled: false ]
    }

    // Concatenate quilt imputed VCFs
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/quilt/concat" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT:BCFTOOLS_CONCAT' {
        ext.args = ["--ligate", "--output-type z",].join(' ')
        ext.prefix = { "${meta.id}_quilt" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_QUILT:BCFTOOLS_INDEX' {
        ext.args     = "--tbi"
        ext.prefix = { "${meta.id}_quilt" }
    }

}
