/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Shared config for STITCH and QUILT imputation preprocessing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Compute batch file
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:LISTTOFILE' {
        tag = { "${meta.id}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}" }
        publishDir = [
            path: { "${params.outdir}/imputation/batch" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    // Convert posfile in different formats
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GAWK_POSFILE_IMPUTE' {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } { split(\$3, a, \"[,]\"); print \$1, \$2, a[1], a[2] }'"
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile.impute" }
        ext.suffix = 'txt'
        publishDir = [enabled: false]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BGZIP_POSFILE_IMPUTE' {
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile.impute" }
        publishDir = [enabled: false]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    // Prephase vcf files with shapeit5
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_TARGET:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/prephase" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all
        ]
        tag = {"${meta.id} ${meta.regionout ?: meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_TARGET:SHAPEIT5_PHASECOMMON' {
        ext.args = {"--seed ${params.seed}"}
        ext.suffix = "bcf"
        ext.prefix = { "${meta.id}_${meta.regionout.replace(':',"_")}_chunks" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_TARGET:BCFTOOLS_INDEX_PHASE' {
        ext.prefix = { "${meta.id}_${meta.regionout.replace(':',"_")}_chunks" }
        ext.args   = "--csi"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_TARGET:SHAPEIT5_LIGATE' {
        ext.args = {"--seed ${params.seed}"}
        ext.prefix = { "${meta.id}_${meta.chr}_phased" }
        publishDir = [
            path: { "${params.outdir}/imputation/prephase" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_TARGET:BCFTOOLS_INDEX_LIGATE' {
        ext.prefix = { "${meta.id}_${meta.chr}_phased" }
        ext.args   = "--csi"
        publishDir = [
            path: { "${params.outdir}/imputation/prephase" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    // Concatenate the prephased chunks
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PREPHASE:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/prephase/concat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PREPHASE:BCFTOOLS_CONCAT' {
        ext.args = "--output-type z"
        ext.prefix = { "${meta.id}.batch${meta.batch}.prephase" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PREPHASE:HTSLIB_BGZIPTABIX' {
        ext.prefix = { "${meta.id}.batch${meta.batch}.prephase" }
        ext.args2 = "--csi"
    }

    // Compute sample files for renaming
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BCFTOOLS_QUERY_IMPUTED' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.args = '--list-samples'
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GAWK_IMPUTED' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.prefix = { "${meta.id}_samples"}
        ext.args2  = { "-v tools=\"${meta.tools}\" " + "'BEGIN { OFS = \"\\t\" } { print \$1, \"-\", \$1\".\"tools }'" }
        publishDir = [enabled: false]
    }

    // Split by samples for each tool
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SPLIT_IMPUTED:BCFTOOLS_PLUGINSPLIT' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.args   = ["--output-type z", "--write-index=tbi"].join(' ')
        publishDir = [
            path: { "${params.outdir}/imputation/${meta.tools}/samples/" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all
        ]
    }
}
