/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configuration for the BEAGLE5 imputation subworkflow

    // Impute the variants with BEAGLE5
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.regionout ?: meta.chr}"}
    }

    // Convert BCF to VCF if necessary
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BCFTOOLS_VIEW' {
        ext.args = ["--output-type z", "--write-index=csi"].join(' ')
        ext.prefix = { "${meta.id}.${meta.chr}.converted" }
        publishDir = [ enabled: false ]
    }


    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BEAGLE5_BEAGLE' {
        ext.args = { "gp=true ap=true seed=${params.seed}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.beagle5" }
        publishDir = [ enabled: false ]
    }

    // Index the imputed VCF files
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BCFTOOLS_INDEX_PHASE' {
        ext.args = ''
        publishDir = [ enabled: false ]
    }

    // Ligate all results
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:GLIMPSE2_LIGATE' {
        ext.args   = { "--seed ${params.seed}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.chr}.ligate" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BCFTOOLS_INDEX_LIGATE' {
        ext.args     = "--tbi"
        publishDir = [ enabled: false ]
    }

    // Concatenate the imputed chromosomes
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_BEAGLE5:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/beagle5/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_BEAGLE5:BCFTOOLS_CONCAT' {
        ext.args = ["--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.beagle5" }
    }
}
