/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:.*' {
        publishDir = [ enabled: false ]
        tag = {"Batch ${meta.batch} ${meta.regionout ?: meta.chr }"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:GLIMPSE2_PHASE' {
        cache = "lenient"
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse2" }
        ext.args     = { "--keep-monomorphic-ref-sites --seed ${params.seed}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:BCFTOOLS_INDEX_PHASE' {
        ext.args     = "--csi"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:GLIMPSE2_LIGATE' {
        ext.args   = { "--seed ${params.seed}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.chr}.ligate" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_VCF_IMPUTE_GLIMPSE2:BCFTOOLS_INDEX_LIGATE' {
        ext.args     = "--tbi"
        publishDir = [ enabled: false ]
    }

    // Concatenate the imputed chunks

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_GLIMPSE2:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/glimpse2/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_GLIMPSE2:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.batch${meta.batch}.glimpse2" }
    }
}
