/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GAWK_POSFILE_STITCH' {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } { split(\$3, a, \"[,]\"); print \$1, \$2, a[1], a[2] }'"
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile.stitch" }
        ext.suffix = "txt"
        publishDir = [enabled: false]
        tag = {"${meta.panel_id}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BGZIP_POSFILE_STITCH' {
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile.stitch" }
        publishDir = [enabled: false]
        tag = {"${meta.panel_id}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:.*' {
        publishDir = [enabled: false]
        tag = {"Batch ${meta.batch} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:STITCH' {
        cache = "lenient"
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? '.'+ meta.regionout : meta.chr}.stitch" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:BCFTOOLS_INDEX_1' {
        ext.args = '--tbi'
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:GLIMPSE2_LIGATE' {
        tag = {"Batch ${meta.batch} ${meta.chr}"}
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_IMPUTE_STITCH:BCFTOOLS_INDEX_2' {
        tag = {"Batch ${meta.batch} ${meta.chr}"}
        ext.args = '--tbi'
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_STITCH:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/stitch/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_STITCH:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.batch${meta.batch}.stitch" }
    }
}
