/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configuration for the glimpse1 imputation subworkflow

    // Call the variants before imputation
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_GLIMPSE1:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/glimpse1/variant_calling" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        tag = {"${meta.id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_GLIMPSE1:BCFTOOLS_MPILEUP' {
        cache = "lenient"
        ext.args = {"-I -E -a 'FORMAT/DP' --seed ${params.seed}"}
        ext.args2 = "-Aim -C alleles"
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_GLIMPSE1:BCFTOOLS_MERGE' {
        cache = "lenient"
        ext.args = "--write-index=tbi -Oz"
        ext.prefix = { "${meta.id}_${meta.chr}.merge" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_GLIMPSE1:VCF_CONCATENATE_BCFTOOLS:BCFTOOLS_CONCAT' {
        ext.args = "--write-index=tbi -Oz"
        ext.prefix = { "${meta.id}.concat" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_GLIMPSE1:BCFTOOLS_ANNOTATE' {
        ext.args   = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.annotate" }
    }

    // Impute the variants
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/glimpse1/impute" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        tag = {"${meta.id} ${meta.regionout ?: meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:GLIMPSE_PHASE' {
        ext.args   = { "--impute-reference-only-variants --seed ${params.seed}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse1" }
        ext.suffix = "bcf"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:BCFTOOLS_INDEX_PHASE' {
        ext.args   = "--csi"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:GLIMPSE_LIGATE' {
        ext.args   = { "--seed ${params.seed}" }
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.chr}.ligate.glimpse1" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:BCFTOOLS_INDEX_LIGATE' {
        ext.args   = "--tbi"
    }

    // Concatenate the imputed chunks
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_GLIMPSE1:.*' {
        publishDir = [
            path: { "${params.outdir}/imputation/glimpse1/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_GLIMPSE1:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}.batch${meta.batch}.glimpse1" }
    }
}
