process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BEAGLE5_BEAGLE' {
        ext.args = "ne=20000 nthreads=4 gp=true ap=true"
        ext.prefix = { meta -> "${meta.id}_beagle5_imputed" }
    }
    
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BCFTOOLS_VIEW' {
        ext.args = ["--output-type z", "--write-index=tbi"].join(' ')
    }
    
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:VCF_BCFTOOLS_INDEX' {
        ext.args = "--csi"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BCFTOOLS_CONCAT' {
        ext.args = ["--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = "concatenated_panel"
    }
}