/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHR_CHECK:.*' {
        publishDir = [
            path: { "${params.outdir}/prep_panel/" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHR_CHECK:VCF_CHR_RENAME:BCFTOOLS_ANNOTATE' {
        ext.args   = ["-Oz", "--no-version"].join(' ')
        ext.prefix = { "${meta.id}_chrrename" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHR_CHECK:VCF_CHR_RENAME:GAWK' {
        ext.args   = 'BEGIN {FS="\\t"} NR==1 { if ($1 ~ /^chr/) { col1=""; col2="chr" } else { col1="chr"; col2="" } } { sub(/^chr/, "", $1); if ($1 ~ /^[0-9]+|[XYMT]$/) print col1$1, col2$1; else print $1, $1 }'
        ext.prefix = { "${meta.id}_chrrename" }
        ext.suffix = "txt"
        publishDir = [ enabled: false ]
    }

    // Subworkflow: VCF_NORMALIZE_BCFTOOLS

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_NORM' {
        ext.args      = '-m +any --no-version --output-type z'
        ext.prefix    = { "${meta.id}_${meta.chr}_multiallelic" }
        maxRetries    = 2
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_INDEX' {
        ext.args     = "--tbi"
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_VIEW' {
        ext.args      = '-v snps -m 2 -M 2 -Oz'
        ext.prefix    = { "${meta.id}_${meta.chr}_biallelic_snps" }
        maxRetries    = 2
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_INDEX_2' {
        ext.args     = "--tbi"
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_CONVERT' {
        ext.args = {"--haplegendsample ${meta.id}_${meta.chr}"}
        maxRetries    = 2
        publishDir = [
            path: { "${params.outdir}/prep_panel/haplegend/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    // (Optional) Subworkflow: Remove samples from panel
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_REMOVE' {
        ext.args      = { "-Oz -s^${params.remove_samples}" }
        ext.prefix    = { "${meta.id}_${meta.chr}_biallelic_removed_samples" }
        maxRetries    = 2
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_INDEX_4' {
        ext.args     = "--tbi"
        publishDir = [enabled: false]
    }

    // Subworkflow: VCF_SITES_EXTRACT_BCFTOOLS

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:VIEW_VCF_SITES' {
        ext.args = [
            "-G",
            "-m 2",
            "-M 2",
            "-v snps",
            "--output-type z",
            "--no-version"
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/sites/vcf/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:BCFTOOLS_INDEX_2' {
        maxRetries    = 2
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/sites/vcf/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:BCFTOOLS_QUERY' {
        ext.args = [
            "-f'%CHROM\t%POS\t%REF,%ALT\\n'",
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites_tsv" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:TABIX_BGZIP' {
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites_tsv" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/sites/tsv/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:TABIX_TABIX' {
        ext.args = [
            "-s1",
            "-b2",
            "-e2"
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_glimpse1_sites_tsv" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/sites/tsv/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    // (Optional) Subworkflow: Phasing
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_PANEL:VCF_PHASE_SHAPEIT5:BEDTOOLS_MAKEWINDOWS' {
        ext.args = [
            '-w 60000',
            '-s 40000'
        ].join(' ')
        ext.prefix = { "${meta.id}_chunks" }
        publishDir = [ enabled: false ]
    }

    // Subworkflow: Concat phased panel
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PANEL:.*' {
        publishDir = [ enabled: false ]
    }

    // Subworkflow: Make chunks

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:.*' {
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }


    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE2_CHUNK' {
        ext.args = [
            "--window-mb 2.0"
        ].join(' ')
        ext.prefix    = { "${meta.panel}_${meta.chr}_chunks_glimpse2" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse2/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE2_SPLITREFERENCE' {
        ext.prefix    = { "${meta.panel}_${meta.chr}_chunks_glimpse2" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse2/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

}
