/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Subworkflow: VCF_NORMALIZE_BCFTOOLS
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_NORM' {
        ext.args   = ["-m +any", "--no-version", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.panel_id}_${meta.chr}_multiallelic" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_VIEW' {
        ext.args   = [
            "-v snps", "-m 2", "-M 2",
            params.remove_samples ? "-s^${params.remove_samples}" : '',
            "--output-type z", "--write-index=tbi"
        ].join(' ')
        ext.prefix = { "${meta.panel_id}_${meta.chr}_normalized" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/panel" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( !params.compute_freq && !params.phase ) {
                    filename.equals('versions.yml') ? null : filename
                } else {
                    null
                }
            }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:VCFLIB_VCFFIXUP' {
        ext.prefix = { "${meta.panel_id}_${meta.chr}_fixup" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/panel" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( !params.phase ) {
                    filename.equals('versions.yml') ? null : filename
                } else {
                    null
                }
            }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_NORMALIZE_BCFTOOLS:BCFTOOLS_INDEX' {
        ext.args   = "--tbi"
        publishDir = [
            path: { "${params.outdir}/prep_panel/panel" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( !params.phase ) {
                    filename.equals('versions.yml') ? null : filename
                } else {
                    null
                }
            }
        ]
    }

    // Subworkflow: VCF_PHASE_SHAPEIT5
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:GLIMPSE2_CHUNK' {
        ext.args   = "--window-mb 4"
        ext.prefix = { "${meta.panel_id}_chunks" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:SHAPEIT5_PHASECOMMON' {
        ext.suffix = "bcf"
        ext.prefix = { "${meta.panel_id}_${meta.chunk.replace(':',"_")}_chunks" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:SHAPEIT5_LIGATE' {
        ext.prefix = { "${meta.panel_id}_${meta.chr}_phased" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/panel" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_PHASE_SHAPEIT5:VCF_BCFTOOLS_INDEX_2' {
        ext.prefix = { "${meta.panel_id}_${meta.chr}_phased" }
        ext.args   = "--csi"
        publishDir = [
            path: { "${params.outdir}/prep_panel/panel" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    // Subworkflow: VCF_SITES_EXTRACT_BCFTOOLS
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:BCFTOOLS_CONVERT' {
        ext.args   = {"--haplegendsample ${meta.panel_id}_${meta.chr}"}
        publishDir = [
            path: { "${params.outdir}/prep_panel/haplegend/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:BCFTOOLS_VIEW' {
        ext.args = [
            "-G",
            "-m 2",
            "-M 2",
            "-v snps",
            "--output-type z",
            "--write-index=tbi",
            "--no-version"
        ].join(' ')
        ext.prefix = { "${meta.panel_id}_${meta.chr}_glimpse1_sites" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/sites/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:GAWK' {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } NR>1  { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3\",\"\$4 }'"
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile" }
        ext.suffix = "txt"
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_SITES_EXTRACT_BCFTOOLS:TABIX_BGZIP' {
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/posfile/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    // Subworkflow: Concat phased panel
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PANEL:.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_PANEL:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.panel_id}.panel" }
    }

    // Subworkflow: Make chunks
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:.*' {
        tag = {"${meta.panel_id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE_CHUNK' {
        ext.args   = "--window-size 4000000"
        ext.prefix = { "${meta.panel_id}_${meta.chr}_chunks_glimpse1" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse1/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CHUNK_GLIMPSE:GLIMPSE2_CHUNK' {
        ext.args   = "--window-mb 4"
        ext.prefix = { "${meta.panel_id}_${meta.chr}_chunks_glimpse2" }
        publishDir = [
            path: { "${params.outdir}/prep_panel/chunks/glimpse2/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

}
