/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_REGION:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_REGION:SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_R${meta.region.replace(':','_')}" }
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:.*' {
        publishDir = [
            path: { "${params.outdir}/simulation/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:SAMTOOLS_DEPTH' {
        publishDir = [enabled: false]
        ext.prefix = { "${meta.id}_C${meta.chr ?: "all"}.stats" }
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:SAMTOOLS_VIEW' {
        ext.prefix = { params.sim_by_reg ?
            "${meta.id}_D${meta.depth}_C${meta.chr ?: "all"}" :
            "${meta.id}"
        }
        publishDir = [
            path: { "${params.outdir}/simulation/" },
            mode: params.publish_dir_mode,
            saveAs: {  params.sim_by_reg ? null : it  }
        ]
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:SAMTOOLS_INDEX_1' {
        publishDir = [
            path: { "${params.outdir}/simulation/" },
            mode: params.publish_dir_mode,
            saveAs: {  params.sim_by_reg ? null : it  }
        ]
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}" }
        tag = {"${meta.id}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE:SAMTOOLS_INDEX_2' {
        ext.args = ""
        tag = {"${meta.id}"}
    }

    // Coverage process
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SAMTOOLS_COVERAGE_TRT' {
        ext.prefix = { "${meta.id}_truth" }
        publishDir = [ enabled: false ]
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SAMTOOLS_COVERAGE_SIM' {
        ext.prefix = { "${meta.id}" }
        publishDir = [ enabled: false ]
    }

    // Coverage process
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SAMTOOLS_COVERAGE_TRT' {
        ext.prefix = { "${meta.id}_truth" }
        publishDir = [ enabled: false ]
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SAMTOOLS_COVERAGE_SIM' {
        ext.prefix = { "${meta.id}" }
        publishDir = [ enabled: false ]
    }
}
