/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Optional subworkflow to extract regions
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_VIEW' {
        label = 'process_medium'
        ext.args   = ["--output-fmt bam", "--write-index"].join(' ')
        ext.prefix = { "${meta.id}_R${meta.region.replace(':','_')}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_MERGE' {
        cache = "lenient"
        ext.prefix = { "${meta.id}" }
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_INDEX' {
        ext.args = ""
    }

    // Downsampling subworkflow
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE_SAMTOOLS:.*' {
        tag = {"${meta.id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE_SAMTOOLS:SAMTOOLS_DEPTH' {
        publishDir = [enabled: false]
        ext.prefix = { "${meta1.id}_C${meta1.chr ?: "all"}.depth" }
        tag = {"${meta1.id} ${meta1.chr ?: "all"}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE_SAMTOOLS:GAWK' {
        publishDir = [enabled: false]
        ext.args2 = "'{ total += \$3 } END { print total/NR }'"
        ext.prefix = { "${meta.id}_C${meta.chr ?: "all"}.depth.mean" }
        ext.suffix = "tsv"
        tag = {"${meta.id} ${meta.chr ?: "all"}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_DOWNSAMPLE_SAMTOOLS:SAMTOOLS_VIEW' {
        cache = "lenient"
        ext.args   = ["--output-fmt bam", "--write-index"].join(' ')
        ext.prefix = { "${meta.id}.depth_${meta.depth}x" }
        publishDir = [
            path: { "${params.outdir}/simulation/samples" },
            mode: params.publish_dir_mode,
            saveAs: {  filename -> filename.equals('versions.yml') ? null : filename  }
        ]
        tag = {"${meta.id} ${meta.chr}"}
    }
}
