/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Optional subworkflow to extract regions
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:.*' {
        publishDir = [
            path: { "${params.outdir}/simulation/region_extracted" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all
        ]
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_VIEW' {
        label = 'process_medium'
        ext.args   = { "--output-fmt bam --write-index" }
        ext.args2  = { "${meta.region_selected}" }
        ext.prefix = { "${meta.id}_R${meta.region.replace(':','_')}_view" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_MERGE' {
        cache = "lenient"
        ext.prefix = { "${meta.id}_region_merged" }
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_EXTRACT_REGION_SAMTOOLS:SAMTOOLS_INDEX' {
        ext.args = ""
    }

    // Downsampling subworkflow
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_SUBSAMPLEDEPTH_SAMTOOLS:.*' {
        tag = {"${meta.id} ${meta.chr}"}
        publishDir = [
            path: { "${params.outdir}/simulation/downsample" },
            mode: params.publish_dir_mode,
            enabled: params.publish_all
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_SUBSAMPLEDEPTH_SAMTOOLS:SAMTOOLS_COVERAGE' {
        ext.args = { meta.region ? "--region ${meta.region}" : "" }
        ext.prefix = { "${meta.id}_R${meta.region.replace(':','_')}.depth" }
        tag = {"${meta.id} ${meta.region}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BAM_SUBSAMPLEDEPTH_SAMTOOLS:SAMTOOLS_VIEW' {
        cache = "lenient"
        ext.args   = { "--output-fmt bam --subsample ${meta.subsample_fraction} --subsample-seed ${params.seed} --write-index" }
        ext.prefix = { "${meta.id}.depth_${meta.depth}x" }
        publishDir = [
            path: { "${params.outdir}/simulation/samples" },
            mode: params.publish_dir_mode
        ]
        tag = {"${meta.id} ${meta.chr}"}
    }

    // Filter chromosomes in coverage
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:FILTER_CHR_INP' {
        ext.prefix = { "${meta.id}.truth" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:FILTER_CHR_DWN' {
        ext.prefix = { "${meta.id}" }
        publishDir = [ enabled: false ]
    }
}
