/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configuration for the validation step

    // Compute genotype likelihoods for the truth set
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_TRUTH:.*' {
        publishDir = [ enabled: false ]
        tag = {"${meta.id} ${meta.chr}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_TRUTH:BCFTOOLS_MPILEUP' {
        label = 'process_high'
        cache = "lenient"
        ext.args = [
            "-I",
            "-E",
            "-a 'FORMAT/DP'"
        ].join(' ')
        ext.args2 = [
            "-Aim",
            "-C alleles"
        ].join(' ')
        ext.prefix = { "${meta.id}.truth.call" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_TRUTH:BCFTOOLS_MERGE' {
        ext.args = [
            "--write-index=tbi",
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GL_TRUTH:BCFTOOLS_ANNOTATE' {
        ext.args   = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}.annotate" }
    }

    // Concatenate the truth set
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_TRUTH:.*' {
        ext.prefix = { "${meta.id}.batch${meta.batch}.truth" }
        publishDir = [
            path: { "${params.outdir}/validation/concat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:CONCAT_TRUTH:BCFTOOLS_CONCAT' {
        ext.args   = ["--ligate", "--output-type z", "--write-index=tbi"].join(' ')
    }

    // Compute sample files for renaming
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:BCFTOOLS_QUERY_TRUTH' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.args = '--list-samples'
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:GAWK_TRUTH' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.prefix = { "${meta.id}_samples"}
        ext.args2 = "'BEGIN { OFS = \"\\t\" } { print \$1, \"-\", \$1\".truth\" }'"
        publishDir = [enabled: false]
    }

    // Split by samples
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:SPLIT_TRUTH:BCFTOOLS_PLUGINSPLIT' {
        ext.args   = ["--output-type z", "--write-index=tbi"].join(' ')
        publishDir = [
            path: { "${params.outdir}/validation/samples" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename}
        ]
    }

    // Validation subworkflow
    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:.*' {
        publishDir = [
            path: { "${params.outdir}/validation/stats/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        tag = {"${meta.id} ${meta.panel_id} ${meta.tools}"}
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GLIMPSE2_CONCORDANCE' {
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}.concordance" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GAWK_ERROR_SPL' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}.concordance.renamed.error.spl" }
        ext.suffix = "txt.gz"
        ext.args2  = { "-v tool=\"${meta.tools}\" " + "'BEGIN { OFS = \" \" } !/^#/ { \$3 = \$3\".\"tool } { print }'" }
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GAWK_RSQUARE_SPL' {
        tag = { "${meta.id} Batch ${meta.batch} ${meta.tools}" }
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}.concordance.renamed.rsquare.spl" }
        ext.suffix = "txt.gz"
        ext.args2  = { "-v tool=\"${meta.tools}\" " + "'BEGIN { OFS = \" \" } !/^#/ { \$1 = \$1\".\"tool } { print }'" }
        publishDir = [enabled: false]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GUNZIP' {
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}" }
        publishDir = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:ADDCOLUMNS' {
        ext.prefix = { "${meta.id}${meta.panel_id ? '_P' + meta.panel_id : ''}${meta.tools ? '_T' + meta.tools : ''}_SNP" }
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_CONCORDANCE_GLIMPSE2:GAWK' {
        ext.args2  = "'(NR == 1) || (FNR > 1)'" // Skip header line
        ext.suffix = { "txt" }
        tag = {"${meta.id}"}
    }
}
