process {
    withName: GAWK {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } NR>1  { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3, \$4 }'" // Remove duplicates
        ext.prefix = { "${meta.id}_${meta.chr}_posfile_stitch" }
        ext.suffix = "txt"
        publishDir = [enabled: false]
        tag = {"${meta.id} ${meta.chr}"}
    }
    withName: STITCH {
        ext.prefix = { "${meta.id}.stitch" }
    }

    withName: BCFTOOLS_INDEX {
        ext.args   = '--tbi'
        publishDir = [enabled: false]
    }
}
