process {
    withName: 'PREPROCESS:SAMTOOLS_REHEADER' {
        ext.args   = { "-c ${meta.samtools_reheader_cmd}" }
        ext.prefix = { "${meta.id}_nochr" }
    }

    withName: BCFTOOLS_ANNOTATE {
        ext.args = [
            "-Oz",
            "--no-version",
            "--write-index=tbi"
        ].join(' ')
        ext.prefix = { "${meta.id}_chrrename" }
    }
}
