process {
    withName: 'PREPROCESS:SAMTOOLS_REHEADER' {
        ext.args   = { "-c '${meta.samtools_reheader_cmd}'" }
        ext.prefix = { "${meta.id}_nochr" }
    }

    withName: 'CHRCHECK:BAM_CHR_RENAME_SAMTOOLS:SAMTOOLS_REHEADER' {
        ext.args   = { "-c '${meta.samtools_reheader_cmd}'" }
        ext.prefix = { "${meta.id}_rename" }
    }

    withName: 'CHRCHECK:VCF_CHR_RENAME_BCFTOOLS:BCFTOOLS_ANNOTATE' {
        ext.args = [
            "-Oz",
            "--no-version",
            "--write-index=tbi"
        ].join(' ')
        ext.prefix = { "${meta.id}_chrrename" }
    }
}
