process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h'
    ]
}

params {
    rename_chr = true
    max_chr_names = 4
}

process {
    withName: 'PREPROCESS:SAMTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_nochr" }
    }

    withName: BCFTOOLS_ANNOTATE {
        ext.args = [
            "-Oz",
            "--no-version",
            "--write-index=tbi"
        ].join(' ')
        ext.prefix = { "${meta.id}_chrrename" }
    }
}
