params {
  // si vous voulez ajouter des flags à impute5, sinon vide
  impute_args   = ""
  // prefix pour nommer l’output
  impute_prefix = ''

  buffer_size   = 500000


  modules_testdata_base_path = "${projectDir}/tests/"
}

process {
  withName: IMPUTE5_IMPUTE {
    ext.args   = { params.impute_args }
    ext.prefix = { params.impute_prefix }
  }
}
