// écrase tout paramétrage global pour ces tests
params {
  // si vous voulez passer d’autres flags à imp5Chunker, sinon vide
  chunk_args = ""

  modules_testdata_base_path = "$projectDir/tests/"

}

process {
  withName: IMPUTE5_CHUNK {
    // ext.args alimentera ${args} dans le script
    ext.args   = { params.chunk_args }
  }
}
