process {
    withName: SAMTOOLS_VIEW {
        ext.args   = { "--output-fmt bam --write-index" }
        ext.args2  = { "${meta.region_selected}" }
        ext.prefix = { "${meta.id}_R${meta.region.replace(':','_')}" }
    }
    withName: SAMTOOLS_MERGE {
        ext.args   = { "--output-fmt bam --write-index" }
    }
}
