process {
    withName: BEAGLE5_BEAGLE {
        ext.prefix = { "${meta.id}_beagle5_imputed" }
        ext.args = {"gp=true ap=true seed=0 chrom=${meta.region}"}
    }

    withName: 'VCF_IMPUTE_BEAGLE5:BCFTOOLS_VIEW' {
        ext.args = ["--output-type z", "--write-index=csi"].join(' ')
        ext.prefix = { "${meta.id}_converted" }
    }

    withName: 'VCF_IMPUTE_BEAGLE5:VCF_BCFTOOLS_INDEX' {
        ext.args = "--csi"
    }

    withName: 'VCF_IMPUTE_BEAGLE5:BCFTOOLS_CONCAT' {
        ext.args = ["--output-type z", "--write-index=csi"].join(' ')
        ext.prefix = "concatenated_panel"
    }
}
