process {

    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '6.h'
    ]

    withName: GLIMPSE2_PHASE {
        cpus       = 1
        ext.args   = "--seed 1"
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.chunk}" }
        publishDir = [ enabled: false ]
    }

    withName: GLIMPSE2_LIGATE {
        ext.args   = "--seed 1"
        ext.prefix = { "${meta.id}_${meta.chr}_ligate" }
        publishDir = [ enabled: false ]
    }

    withName: BCFTOOLS_INDEX_2 {
        ext.args   = "--tbi"
        publishDir = [ enabled: false ]
    }
}
