process {
    withName: GLIMPSE2_CHUNK {
        ext.prefix = { "${meta.id}_chunks" }
        ext.args = ["--window-mb 0.01", "--window-cm 0.01", "--window-count 200", "--buffer-mb 0.005", "--buffer-cm 0.005", "--buffer-count 30"].join(' ')
    }

    withName: SHAPEIT5_PHASECOMMON {
        ext.prefix = { "${meta.id}_${meta.chunk.replace(':',"_")}_chunks" }
    }
}
