process {
    withName: GLIMPSE2_CHUNK {
        ext.prefix = { "${meta.id}_chunks" }
        ext.args = ["--window-mb 0.1", "--window-cm 0.1", "--window-count 2000", "--buffer-mb 0.05", "--buffer-cm 0.05", "--buffer-count 300"].join(' ')
    }

    withName: SHAPEIT5_PHASECOMMON {
        ext.prefix = { "${meta.id}_${meta.chunk.replace(':',"_")}_chunks" }
    }
}
