process {
    withName: BCFTOOLS_NORM {
        ext.args      = ["-m +any", "--no-version", "--output-type z", "--write-index=tbi"].join(' ')
        ext.prefix    = { "${meta.id}_${meta.chr}_multiallelic" }
    }

    withName: BCFTOOLS_VIEW {
        ext.args   = [
            "-v snps", "-m 2", "-M 2",
            params.remove_samples ? "-s^${params.remove_samples}" : '',
            "--output-type z", "--write-index=tbi"
        ].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}_biallelic_snps" }
    }

    withName: VCFLIB_VCFFIXUP {
        ext.prefix   = { "${meta.id}_${meta.chr}" }
    }

    withName: BCFTOOLS_INDEX {
        ext.args     = "--tbi"
    }
}
