process {
    withName: STITCH {
        cpus  = 1
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.stitch" }
    }

    withName: GLIMPSE2_PHASE {
        cpus         = 1
        cache        = "lenient"
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse2" }
        ext.args     = { "--keep-monomorphic-ref-sites --seed ${params.seed}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_BEAGLE5:BEAGLE5_BEAGLE' {
        ext.args = { "gp=true ap=true seed=${params.seed}" }
        ext.prefix = { "${meta.id}.${meta.chr}.beagle5" }
        publishDir = [ enabled: false ]
    }
}
