process {
    withName: SHAPEIT5_PHASECOMMON {
        cpus = 1
        ext.args = {"--seed ${params.seed}"}
        ext.suffix = "bcf"
        ext.prefix = { "${meta.panel_id}_${meta.chunk.replace(':',"_")}_chunks" }
    }

    withName: STITCH {
        cpus  = 1
        ext.prefix = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.stitch" }
    }

    withName: GLIMPSE2_PHASE {
        cpus         = 1
        cache        = "lenient"
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse2" }
        ext.args     = { "--keep-monomorphic-ref-sites --seed ${params.seed}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: 'NFCORE_PHASEIMPUTE:PHASEIMPUTE:VCF_IMPUTE_GLIMPSE:GLIMPSE_PHASE' {
        cpus         = 1
        ext.prefix   = { "${meta.id}.batch${meta.batch}.${meta.regionout ? meta.regionout.replace(':','_') : meta.chr}.glimpse1" }
        ext.args     = { "--impute-reference-only-variants --seed ${params.seed}" }
        ext.suffix   = "bcf"
        publishDir   = [ enabled: false ]
    }

    withName: BEAGLE5_BEAGLE {
        ext.args = { "gp=true ap=true seed=${params.seed}" }
        ext.prefix = { "${meta.id}.${meta.chr}.beagle5" }
        publishDir = [ enabled: false ]
    }
}
