// modules/impute5/convertref/tests/nextflow.config



// 1) Define all of your test params at the top level:
params {
  // used by your stub test
  convertref_args       = ''
  convertref_maf        = 0.03125
  convertref_threads    = 2
  
  // point at your local testdata
  modules_testdata_base_path = "${projectDir}/tests/"
}

// 2) Process‐specific settings:
process {
  withName: 'IMPUTE5_CONVERTREF' {
    // pass into your script via task.ext.*
    ext.args     = { params.convertref_args    }
    ext.prefix   = { meta.id                   }
    ext.maf      = { params.convertref_maf     }
    ext.threads  = { params.convertref_threads }

    // to prepend your module’s bin/ to PATH, use the `env.` directive:
    env.PATH     = "${projectDir}/bin:${env.PATH}"
  }
}
