name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors

on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  NFTEST_VER: "0.9.0"
  NFT_WORKDIR: "~"
  NFT_DIFF: "pdiff"
  NFT_DIFF_ARGS: "--line-numbers --expand-tabs=2"

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run nf-test with standard profiles
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/phaseimpute') }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        NXF_VER:
          - "24.04.4"
          - "latest-everything"
        TEST_PROFILE:
          - "test_all"
          - "test_validate"
          - "test_stitch"
          - "test_dog"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Install pdiff to see diff between nf-test snapshots
        run: |
          python -m pip install --upgrade pip
          pip install pdiff

      - name: Install nf-test
        run: |
          wget -qO- https://code.askimed.com/install/nf-test | bash -s $NFTEST_VER
          sudo mv nf-test /usr/local/bin/

      - name: Run pipeline with test data
        run: |
          nf-test test --tag "${{ matrix.TEST_PROFILE }}" --profile docker --verbose

      - name: Run pipeline with test data (singularity)
        run: |
          nf-test test --tag "${{ matrix.TEST_PROFILE }}" --profile singularity
        if: "${{ github.base_ref == 'master' }}"

      - name: Run pipeline with test data (conda)
        run: |
          nf-test test --tag "${{ matrix.TEST_PROFILE }}" --profile conda
        if: "${{ github.base_ref == 'master' }}"
